table {
  width: 100%;
  th{
    font-size: 18px;
    font-weight: bold;
  }
}

.export{
  padding: 50px 0;
  text-align: center;
  button{
    border: 1px solid grey;
    font-size: 18px;
    font-weight: bold;
  }
}
